@use '../../assets/abstracts/' as *;

.search {
  width: 20rem;
  background-color: $background-grey;
  border-radius: 10px;
  margin-top: 1rem;
  padding: 0.5rem;
  border: 2px solid transparent;
  z-index: 900;

  transition: 
    map-get($transition, speed-slow) box-shadow map-get($transition, easing),
    map-get($transition, speed-slow) transform map-get($transition, easing),
    map-get($transition, speed-slow) border map-get($transition, easing);

  &:focus-within {
    box-shadow: 0px 0.2rem 2.5rem $background-grey;
    transform: scale(1.025);
    border: 2px solid $highlight-blue;

    // Remove the scaling for those who don't want animation.
    @media screen and (prefers-reduced-motion: reduce) {
      box-shadow: none;
      transform: none; 
    }
  }

  input {
    background-color: transparent;
    border: none;
    color: $heading-text-color;
    margin: 0.5rem;
    width: 94%;
    font-size: $normal-size;
    height: 1.5rem;

    &:focus {
      outline: none;
    }
  }
}

.auto-complete {
  display: none;

  &.active {
    display: block;
  }

  .selection {
    font-size: $normal-size;
    color: $heading-text-color;
    border-radius: 10px;
    padding: 0.25rem 0.5rem;
  
    &.current {
      background-color: #666;
    }
  }
}
