@use 'assets/abstracts' as *;

html {
  background-image: url('https://res.cloudinary.com/dnglix0tu/image/upload/v1659232491/LifeWay-star-wars/background.jpg');
}

body {
  font-family: $family;
}

.content {
  display: flex;
  justify-content: center;
}

.heading {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sw-logo {
  margin-top: 1rem;
}

h1, h5, p {
  margin: 0;
}